
.cabecera {
    background-color: rgb(33, 34, 34); /* Color de fondo  */
    height: 80px; /* Altura de la franja en píxeles (ajusta según sea necesario) */
    width: 100%; /* Ancho de la franja al 100% del contenedor */
    color: white; /* Color del texto en la franja (opcional) */
    border-radius: 0% 0% 0% 0%;
    position: fixed;
    top: 0;
    z-index: 1000;
    border-bottom: 1.5px solid #ffffff;
    
}






.icono {
    background-image: url('./hotel.png');
    background-size: 40px 40px; /* Ancho y alto de la imagen en píxeles */
    width: 40px; /* Ancho de la imagen en píxeles */
    height: 40px; /* Altura de la imagen en píxeles */
    position: absolute; /* Establece la posición absoluta */
    top: 30px; /* Ajusta la distancia desde la parte superior en píxeles */
    left: 50px; /* Ajusta la distancia desde la izquierda en píxeles */
}

.Primera_Imagen {
    background-image: url(./FondoHotelMIlenio.jpg);
    background-position: center;
    width: 100%; /* Cambiamos el ancho al 100% */
    height: 85vh; /* Usamos el 100% de la altura de la ventana del navegador */
    position: absolute;
    top: 5;
    left: 0;
    background-size: cover; /* Hace que la imagen cubra toda la área sin repetirse */
}


.titulo1 {
    font-size: 30px;
    position: fixed; /* Establece la posición relativa */
    top: 25px; /* Ajusta la distancia desde la parte superior en píxeles */
    left: 390px; /* Ajusta la distancia desde la izquierda en píxeles */
    cursor: pointer;
    transition: color 0.5s; /* Agrega una transición suave para el cambio de color */
}
.titulo1:hover {
    color: #D4AF37; /* Color del texto cuando se pasa el cursor sobre él */
}
.titulo2 {
    font-size: 30px;
    position: fixed; /* Establece la posición relativa */
    top: 25px; /* Ajusta la distancia desde la parte superior en píxeles */
    left: 720px; /* Ajusta la distancia desde la izquierda en píxeles */
    cursor: pointer;
    transition: color 0.5s; /* Agrega una transición suave para el cambio de color */
}
.titulo2:hover {
    color: #D4AF37; /* Color del texto cuando se pasa el cursor sobre él */
}
.titulo3 {
    font-size: 30px;
    position: fixed; /* Establece la posición relativa */
    top: 25px; /* Ajusta la distancia desde la parte superior en píxeles */
    left: 1100px; /* Ajusta la distancia desde la izquierda en píxeles */
    cursor: pointer;
    transition: color 0.5s; /* Agrega una transición suave para el cambio de color */
}
.titulo3:hover {
    color: 	#D4AF37; /* Color del texto cuando se pasa el cursor sobre él */
}




body {
    margin: 0;
    padding: 0;
    
    
}
h1 {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    margin: 0;
    padding: 0;
    width: 100%;
    color: 	#d4af36;
    font-size: 90px;
    font-weight: 700;
    text-align: center;
    border-color: rgb(0, 0, 0);
    text-shadow: 2px 2px 2px black; /* Sombra de texto con desplazamiento X, desplazamiento Y y color */
}

h2{
    position: absolute;
    top: 800px;
    left: 650px;
    color: #d4af36;
    border-color: black;
}

.hotel-texto {
    font-size: 40px;
    position: absolute;
    -webkit-text-stroke: 0.2px rgb(0, 0, 0); /* Borde de 1 píxel de ancho y color negro (para navegadores basados en WebKit) */
    color: #d4af36; /* Color del texto */
    right: 300px;
    top: -140px;
    font-family: 'Times New Roman', Times, serif;
    white-space: nowrap; /* Evitar que el texto se divida en varias líneas */
    cursor: default;
}


.Descripcion {
    text-align: center;
    max-width: 900px; /* Ancho máximo del texto */
    padding: 20px; /* Espaciado interno */
    margin-left: -320px; /* Mueve el texto 100 píxeles desde el borde izquierdo */
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 17px;
    color: rgb(255, 255, 255);
    margin-top: -100px;
    cursor: default;
}

.Franja_Enmedio{
    background-color: rgba(23, 23, 23, 255); /* Color de fondo  */
    height: 900px; /* Altura de la franja en píxeles (ajusta según sea necesario) */
    width: 100%; /* Ancho de la franja al 100% del contenedor */
    color: white; /* Color del texto en la franja (opcional) */
    border-radius: 0% 0% 0% 0%;
}






.image-slider {
    position: relative;
    max-width: 1583px;
    width: 100%;
    height: 400px;
}

.image-slider img {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 1.5s ease-in-out;
}

.image-slider img.active {
    opacity: 1;
}


/* Estilo para el cuadro de redes sociales */
.cuadro-fijo {
    position: fixed;
    top: 300px; /* Ajusta la posición vertical del cuadro según tus necesidades */
    right: 0;
    width: 60px;
    height: 250px; /* Ajusta la altura del cuadro */
    background-color: #fff;
    border-left: 1px solid #ccc;
    border-radius: 10px 0px 0px 10px;
    display: flex; /* Utilizamos flex para alinear los iconos verticalmente */
    flex-direction: column; /* Alineamos los iconos en una columna */
    align-items: center;
}

/* Estilo para los enlaces de las redes sociales */
a.ico1, a.ico2, a.ico3 {
    text-decoration: none;
    color: #000000;
    margin-bottom: 20px; /* Ajusta el margen inferior para separar los iconos verticalmente */
}

/* Estilo para los iconos de las redes sociales */
a.ico1 i, a.ico2 i, a.ico3 i {
    font-size: 20px;
    font-weight: 700;
    width: 20px;
    height: 20px;
    text-align: center;
    padding: 10px;
    border-radius: 50%;
    box-shadow: 0 0 8px 1px rgba(0, 0, 0, 0.5);
    transition: 0.5s;
    margin-top: 10px; /* Ajusta el margen superior de todos los iconos para separarlos verticalmente */
}

/* Estilo para el efecto de brillo al pasar el mouse en el icono de Facebook */
a.ico1:hover i {
    color: #2992FB;
    box-shadow: 0 0 10px #2992FB, 0 0 20px #2992FB;
}

/* Estilo para el efecto de brillo al pasar el mouse en el icono de Twitter */
a.ico2:hover i {
    color: #00acee;
    box-shadow: 0 0 10px #00acee, 0 0 20px #00acee;
}

/* Estilo para el efecto de brillo al pasar el mouse en el icono de Instagram */
a.ico3:hover i {
    color: rgb(175, 39, 168);
    box-shadow: 0 0 10px rgb(175, 39, 168), 0 0 20px rgb(175, 39, 168);
}







